@font-face
    font-family 'Unit'
    src url('/fonts/unit-blackitalic-webfont.eot')
    src url('/fonts/unit-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/unit-blackitalic-webfont.woff') format('woff'),
        url('/fonts/unit-blackitalic-webfont.ttf') format('truetype'),
        url('/fonts/unit-blackitalic-webfont.svg#unit-blackitalicregular') format('svg');
    font-weight 900;
    font-style italic

@font-face
    font-family 'Unit'
    src url('/fonts/unit-bolditalic-webfont.eot')
    src url('/fonts/unit-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/unit-bolditalic-webfont.woff') format('woff'),
        url('/fonts/unit-bolditalic-webfont.ttf') format('truetype'),
        url('/fonts/unit-bolditalic-webfont.svg#unit-bolditalicregular') format('svg');
    font-weight 600;
    font-style italic

@font-face
    font-family 'Unit'
    src url('/fonts/unit-lightitalic-webfont.eot')
    src url('/fonts/unit-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/unit-lightitalic-webfont.woff') format('woff'),
        url('/fonts/unit-lightitalic-webfont.ttf') format('truetype'),
        url('/fonts/unit-lightitalic-webfont.svg#unit-lightitalicregular') format('svg');
    font-weight 300;
    font-style italic

@font-face
    font-family 'Unit'
    src url('/fonts/unit-regular-webfont.eot')
    src url('/fonts/unit-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/unit-regular-webfont.woff') format('woff'),
        url('/fonts/unit-regular-webfont.ttf') format('truetype'),
        url('/fonts/unit-regular-webfont.svg#unit-regularregular') format('svg');
    font-weight 400;
    font-style normal
