
// Main footer
// ======================================================
.c-footer
    color #999
    font-size 1.8rem
    font-style normal
    font-weight 400
    text-align center

    @media (min-width: fromMedium)
        padding 30px 0
