
// Font
// ======================================================
fontSize = 62.5%
fontFamily = 'Unit', Helvetica, Helvetica Neue, Arial

// Colors
// ======================================================
primaryColor = #1ec4a6
baseFontColor = #222

// Screen widths
// ======================================================
fromTiny = 480px
toTiny = fromTiny - 1
fromSmall = 600px
toSmall = fromSmall - 1
fromMedium = 960px
toMedium = fromMedium - 1
fromLarge = 1280px
toLarge = fromLarge - 1
fromHuge = 1600px
toHuge = fromHuge - 1

// Transitions
// ======================================================
speed = 0.3s
speedFast = (speed / 2)
easing = cubic-bezier(.55,0,.1,1)