<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#1EC4A6">
        <title>Dominic Lord - Développeur frontend</title>

        <meta name="description" content="Dominic Lord, développeur frontend chez Locomotive, Montréal.">

        <link rel="shortcut icon" href="/favicon.png">

        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>