{{>header}}
        <header class="c-header">
            <div class="o-container">
                <nav class="c-nav">
                    <ul>
                        <li class="c-nav_item -resume">
                            <a class="c-nav_link" target="_blank" href="/cv.pdf">cv</a>
                        </li>
                        {{!--
                        <li class="c-nav_item -contact" id="contact-link">
                            <a class="c-nav_link" href="#contactez">contactez moi</a>
                        </li>
                        --}}
                    </ul>
                </nav>
                <h1 class="c-header_heading">
                    <span class="c-header_name">Dominic Lord</span>
                    <span class="c-header_occupation">Développeur frontend</span>
                </h1>
            </div>
        </header>
        <main class="c-main" role="main">
            <div class="o-container">
                <section class="c-main_section">
                    <h2 class="c-main_heading">Projets personnels</h2>
                    <div class="c-main_content">
                        <ul>
                            <li><a target="_blank" href="http://cotonetclub.com">Site web de Coton & Club</a>, une entreprise montréalaise de production et de diffusion web, ayant pour mandat de promouvoir la relève artistique.</li>
                            <li><a target="_blank" href="http://github.com/dominiclord/eventfeed">EventFeed</a>, une application web permettant le déploiement d'un <em>feed</em> visuel en direct pour des événements publics et privés. Composée de 3 modules : vue utilisateur, vue grand public, vue moderateur. <strong>En développement.</strong></li>
                        </ul>
                    </div>
                </section>
                <section class="c-main_section">
                    <h2 class="c-main_heading">Pour me rejoindre</h2>
                    <div class="c-main_social">
                        <div class="c-social">
                            <ul class="c-social_list">
                                <li class="c-social_item">
                                    <a class="c-social_link -github" rel="external" title="dominiclord - GitHub" target="_blank" href="http://github.com/dominiclord"><span class="c-social_icon"></span>github.com/dominiclord</a>
                                </li>
                                <li class="c-social_item">
                                    <a class="c-social_link -facebook" rel="external" title="Dominic Lord - Facebook" target="_blank" href="http://fb.com/dominic.lord.mtl"><span class="c-social_icon"></span>fb.com/dominic.lord.mtl</a>
                                </li>
                                <li class="c-social_item">
                                    <a class="c-social_link -linkedin" rel="external" title="Dominic Lord - Canada | LinkedIn" target="_blank" href="http://ca.linkedin.com/in/lorddominic/"><span class="c-social_icon"></span>profil LinkedIn</a>
                                </li>
                                <li class="c-social_item">
                                    <a class="c-social_link -lastfm" rel="external" title="delmontejuice's Music Profile – Users at Last.fm" target="_blank" href="http://www.last.fm/user/delmontejuice"><span class="c-social_icon"></span>profil last.fm</a>
                                </li>
                                <li class="c-social_item">
                                    <a class="c-social_link -googlemaps" rel="external" title="Où suis-je?" target="_blank" href="https://maps.google.ca/maps?q=Villeray-Saint-Michel-Parc-Extension,+Montreal,+QC&amp;hl=en&amp;sll=45.549152,-73.61368&amp;sspn=0.206527,0.445976&amp;hnear=Villeray-Saint-Michel-Parc-Extension,+Montreal,+Quebec&amp;t=m&amp;z=13"><span class="c-social_icon"></span>Montréal, Québec</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="c-main_section">
                    <h2 class="c-main_heading">Expérience</h2>
                    <div class="c-main_content">
                        <h3 class="c-main_subheading">Développeur frontend | Locomotive</h3>
                        <p><strong>Septembre 2014 - Présent</strong></p>

                        <h3 class="c-main_subheading">Développeur frontend | Équation Humaine</h3>
                        <p><strong>Août 2013 - Septembre 2014</strong></p>
                        <ul>
                            <li>Construction et animation du contenu et de la présentation de sites web</li>
                            <li>Construction de sites web adaptifs (<em>responsive</em>) et d'applications web complexes</li>
                            <li>Programmation <em>front-end</em> (jQuery / JavaScript) à des fins de développement de nouvelles fonctionnalités, de résolution de problèmes et d'animation</li>
                            <li>Participe au développement de grandes campagnes web promotionnelles</li>
                            <li>Développement de code entretenable s'affichant bien dans multiples navigateurs</li>
                        </ul>
                        <h3 class="c-main_subheading">Intégrateur Web | Desjardins</h3>
                        <p><strong>Mai 2011 - Juin 2013</strong></p>
                        <ul>
                            <li>Intégration HTML/CSS de contenus informationnels</li>
                            <li>Programmation front-end à des fins de résolution de problèmes et d’amélioration de solutions existantes</li>
                            <li>Participe au développement de projets informationnels de plus grande envergure, analyse et soulève les impacts des solutions proposées</li>
                            <li>Soutien et formation aux intégrateurs juniors sur l’utilisation des différents outils et normes utilisées</li>
                        </ul>
                    </div>
                </section>
                <section class="c-main_section">
                    <h2 class="c-main_heading">Compétences technique</h2>
                    <div class="c-main_content">
                        <h3 class="c-main_subheading">Web</h3>
                        <ul>
                            <li>HTML5</li>
                            <li>CSS3 (Sass, Stylus)</li>
                            <li>JavaScript (jQuery, Backbone)</li>
                            <li>PHP (WordPress, Charcoal)</li>
                        </ul>
                        <h3 class="c-main_subheading">Logiciels et outils</h3>
                        <p>Mac OSX, Windows, Git, SVN, Gulp, Grunt, Sublime Text, Photoshop, Illustrator</p>
                    </div>
                </section>
                <section class="c-main_section">
                    <h2 class="c-main_heading">Formation</h2>
                    <div class="c-main_content">
                        <h3 class="c-main_subheading">W3DEVCAMPUS</h3>
                        <p>HTML5: Web design fundamentals - 2013</p>
                        <p>Mobile Web 2: Programming Web Applications - 2012</p>
                        <h3 class="c-main_subheading">Collège de Maisonneuve</h3>
                        <p>DEC Techniques d'intégration multimédia - 2011</p>
                    </div>
                </section>
                <section class="c-main_section">
                    <h2 class="c-main_heading">Intérêts et loisirs</h2>
                    <div class="c-main_content">
                        <ul>
                            <li>Le web (évidemment)</li>
                            <li>Vélo</li>
                            <li>Musique / Spectacles</li>
                            <li>Séries télévisées / Films</li>
                            <li>Jeux vidéo</li>
                            <li>Microbrasseries / Scotch</li>
                        </ul>
                    </div>
                </section>
                <section class="c-main_section">
                    <h2 class="c-main_heading">Veille technologique</h2>
                    <div class="c-main_content">
                        <ul>
                            <li><a href="http://alistapart.com/" target="_blank">A List Apart</a></li>
                            <li><a href="http://arstechnica.com/" target="_blank">Ars Technica</a></li>
                            <li><a href="https://hacks.mozilla.org/" target="_blank">Mozilla Hacks</a></li>
                            <li><a href="http://paulirish.com/" target="_blank">Paul Irish</a></li>
                            <li><a href="http://peter.sh/" target="_blank">Peter Beverloo</a></li>
                            <li><a href="http://www.smashingmagazine.com/" target="_blank">Smashing Magazine</a></li>
                            <li><a href="http://www.w3.org/QA/" target="_blank">W3C Blog</a></li>
                            <li><a href="http://blog.whatwg.org/" target="_blank">The WHATWG Blog</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </main>
        {{!--
        <aside class="c-contact" id="contact">
            <div class="o-container">
                <h2>contactez moi</h2>
                <p>Que ce soit pour me poser une question ou pour me dire bonjour, voici un formulaire qui nous met tout de suite en contact. Je vous jure, le courriel est envoyé directement à mon cellulaire et à mon ordinateur. Il s'affiche devant toute autre application et interrompt toute musique. Prière de ne pas abuser.</p>
                <section>
                    <form method="post" action="/message.php" id="contactform" novalidate>
                        <label for="nom">nom</label>
                        <input id="nom" name="nom" type="text" required>
                        <label for="courriel">courriel</label>
                        <input id="courriel" name="courriel" type="email" required pattern="^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$">
                        <label for="message">message</label>
                        <textarea id="message" name="message" required></textarea>
                        <button type="submit">envoyer</button>
                        <input class="hidden" type="text" id="telephone" name="telephone">
                    </form>
                </section>
                <hr>
            </div>
        </aside>
        --}}
        <footer class="c-footer">
            <div class="o-container">
                <p>Copyright © 2015 Dominic Lord - Développeur frontend</p>
            </div>
        </footer>
{{>footer}}